# Virtual Environment
# Python cache
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
.env

# Datasets y archivos de datos (Archivos generados)
*.json
*.csv

# Logs y temporales
*.log
.vscode/